{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minstone</title>
    <link rel="stylesheet" href="{% static '/CSS/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href = https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css>
</head>
<body>
    <section class = "header">
    <div id="header">
        <!--Navbar-->
        <div id="navbar" class="header">
            <!--Logo-->
            <div id="logo"><a href="#"><h1>Sbuilt</h1></div></a>
            <!--Links-->
        </div>
    </div>
    </section>
</body>
</html>