{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/CSS/style.css' %}">
    <link href = https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Sbuilt</title>
</head>
<body>
    <!--Before Navbar-->
    <div id="before-navbar">
        <p>Sale Promotion</p>
    </div>
    <!--Navbar-->
    <nav class="navbar" id="navbar">
        <div class = "logo" id="logo"><a href="{% url 'index' %}"><h1>Sbuilt</h1></a></div>
        </button>
        <div class="menu">
        <div id="nav-ul" class="nav-ul">
            <a href="{% url 'price' %}"><div class="li">price</div></a>
            <a href="{% url 'gallery' %}"><div class="li">gallery</div></a>
            <a href="{% url 'index' %}"><div class="li">contact</div></a>
        </div>
        <button class = "toggle"  id="toggle"><i class="fa fa-bars"  style="font-size:33px"></i></button>
        </div>       
    </nav>
    <div class="dropdown" id="dropdown">
        <a href="{% url 'price' %}1"><div class="li-drop">price</div></a>
        <a href="{% url 'gallery' %}"><div class="li-drop">gallery</div></a>
        <a href="{% url 'index' %}"><div class="li-drop">contact</div></a>
    </div>


    <div class="all">
    <div class="price-box">
        <div class="form-group"> <!--input-->
            <span>Width area</span>
            <input type="number" id="width-input" placeholder="Width area">
        </div>
    </div>
    <div class="combine">
        <div class="p-3 mb-2 bg-secondary text-white">
            <div class="card-body">   <!--output-->
                <h4>Kitchen price</h4>
                <div id="kitchen-out"></div>
            </div>
        </div>
        <div class="p-3 mb-2 bg-info text-white">
        <div class="card-body">
            <h4>Kitchen top price</h4>
            <div id="kitchentop-out"></div>
        </div>
        </div>
        <div class="p-3 mb-2 bg-danger text-white">
        <div class="card-body">
            <h4>Wardrobe</h4>
            <div id="wardrobe"></div>
        </div>
        </div>
    </div>
    </div>
    <!--div class="card-block">
        <h4>Living room</h4>
        <div id="livingroom"></div>
    </div-->
    <!--Script-->
    <script>
        document.getElementById("width-input").addEventListener('input',function(e){
            var width_input = document.getElementById("width-input").value;
            var ward_roab = (width_input * 10900) + ' Baht';
            var kitchen_under = (width_input * 12000)+ ' Baht';
            var kitchen_top = (width_input * 5000)+ ' Baht';
            var living_room = (width_input * 10900)+ ' Baht';

            let price = e.target.value;
            document.getElementById("kitchen-out").innerHTML = kitchen_under;
            document.getElementById("kitchentop-out").innerHTML = kitchen_top;
            document.getElementById("wardrobe").innerHTML = ward_roab;
            document.getElementById("livingroom").innerHTML = living_room;
        })
    </script>
    <!--Script-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script>
        window.addEventListener("scroll",function(){
        let header = document.getElementById("navbar");
        if(window.scrollY > 40){
        header.classList.add("cus-nav");

        }else{
        header.classList.remove("cus-nav");
        }
        });
    </script>
    <script>
        const toogle = document.getElementById('toggle');
        const dropdown = document.getElementById('dropdown');

        toggle.addEventListener('click',()=>{
        dropdown.classList.toggle('show_1');
        });
    </script>
</body>
</html>